/*****************************************************/
/*****************************************************/
/******************HAVOC CHASIS CSS*******************/
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/*****************UNIVERSAL STYLINGS******************/
/*****************************************************/
/*****************************************************/

* {
  box-sizing: border-box;
}

/*****************************************************/
/*****************************************************/
/******************GLOBAL STYLES**********************/
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/******************TEXT SHADOW************************/
/*****************************************************/
/*****************************************************/

h1,
h2,
h3,
nav li {
   color: purple;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
/*****************************************************/
/*****************************************************/
/*****************HEADLINE ELEMENTS*******************/
/*****************************************************/
/*****************************************************/
h1,
h2,
h3{
    display: block;
    text-align: center;
    margin: auto;
}


h1 {
     font-size:5em;
}

h2 { 
     margin-top: 10px;
     margin-bottom: 5px;
     border-bottom: solid 2px purple;
     padding-bottom: 10px;
}
h3{
     margin-bottom: 20px;
   
}

h2,
h3{
  font-size: 2.5em;
}

/*****************************************************/
/*****************************************************/
/*******************BODY ELEMENTS*********************/
/*****************************************************/
/*****************************************************/

body {
margin:auto;
text-align: center;
}
p{
  color: purple;
}

/*****************************************************/
/*****************************************************/
/***************ASIDE CLASS ELEMENTS******************/
/*****************************************************/
/*****************************************************/
.aside{
  background-color: purple;
}
.aside p{
  color: #f1f1f1;
}

/*****************************************************/
/*****************************************************/
/******************INDEX PAGE LOGO********************/
/*****************************************************/
/*****************************************************/
.logo img{
            width: 500px;
            height: auto;
            margin: 20px;
            padding:15px;
                }


/*#hclogo {
height: 95vh;
}*/
/*****************************************************/
/*****************************************************/
/*******************NAV ELEMENTS**********************/
/*****************************************************/
/*****************************************************/

nav{
     background: transparent;
     margin-top:2px;
     margin-bottom: 5px;
     border-bottom: double 2px purple;
}


nav ul {
     padding: 0;
     overflow: hidden;
}

nav li {
display: inline-block;
padding-left: 35px;
padding-right: 35px; 
margin-left: 35px;
margin-right:35px;
}

nav a, nav a:visited {
     text-decoration: none;
     display: block;
     color:purple;
     text-decoration: none;
     text-shadow: 1px 1px 0 white;
}

nav a:hover {
     color:#999999;
}

/*****************************************************/
/*****************************************************/
/******************ABOUT US PAGE**********************/
/*****************************************************/
/*****************************************************/

.tumbnails img{
  display: block;
  transition: all .2s ease-in-out;
}

.thumbnails:hover img{
  opacity: .6;
  transform: scale(.92);
}

.thumbnails img:hover {
  opacity: 1;
  transform: scale(1) rotate(3deg);
  box-shadow: 0 0 7px rgba(0,0,0, .5);
}

.stickers{
  max-width: 110px;
}

#mark{
  max-width: 150px;
}

/*****************************************************/
/*****************************************************/
/*****************CONTACT US PAGE*********************/
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/*****************MEDIA QUERIES***********************/
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/***********************320PX*************************/
/*****************************************************/
/*****************************************************/

@media(min-width: 320px){
 
/*****************************************************/
/*****************************************************/
/******************INDEX.HTML PAGE********************/
/*****************************************************/
/*****************************************************/
  .logo img{
            width: 75%;
                }
/*****************************************************/
/*****************************************************/
/******************ABOUT US PAGE**********************/
/*****************************************************/
/*****************************************************/
.aside{
  width: 300px;
  margin:auto;
}

/*********thumbnails********/
#thumbs{
 margin:auto;
 margin-top: 20px;
}
.thumbnails a {
  width: 5%;
}
/*******sponsor's div*******/

#manufacture{
   margin-top: 20px;
   }
#manufacture img{
  padding: 5px;
}
/*****************************************************/
/*****************************************************/
/****************CONTACT US PAGE**********************/
/*****************************************************/
/*****************************************************/

form{
 margin:20px;
}
}

/*****************************************************/
/*****************************************************/
/***********************768PX*************************/
/*****************************************************/
/*****************************************************/
@media(min-width: 768px){
 
/*****************************************************/
/*****************************************************/
/******************INDEX.HTML PAGE********************/
/*****************************************************/
/*****************************************************/
  .logo img{
            width: 85%;
                }
/*****************************************************/
/*****************************************************/
/******************ABOUT US PAGE**********************/
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/*******************NAV ELEMENTS**********************/
/*****************************************************/
/*****************************************************/

nav li {
padding-left: 1rem;
padding-right:1rem ; 
margin-left:1rem ;
margin-right:1rem;
}
/*****************************************************/
/*****************************************************/
/****************CONTACT US PAGE**********************/
/*****************************************************/
/*****************************************************/



.formContainer{
max-width: 20%;
margin-left: 20em;
margin-right:20em;
display: inline-grid;
}
.message{
  margin-top: 20px;
}

label{
  margin-top: 15px;
  padding-top: 13px;
  font-size:16px;

}


input[type="submit"]{
cursor:pointer;
color: green;
}
#submit{
  margin-bottom: 15px;
padding-bottom: 15px;
}

.menu{
  margin-bottom: 0;
  margin-top: 5px;
}
textarea{
  margin-right: 18px;
  width: 61%;
}
}
/*****************************************************/
/*****************************************************/
/***********************1024PX*************************/
/*****************************************************/
/*****************************************************/
@media(min-width: 1024px){

/*****************************************************/
/*****************************************************/
/******************INDEX.HTML PAGE********************/
/*****************************************************/
/*****************************************************/
  .logo img{
            width: 85%;
                }
/*****************************************************/
/*****************************************************/
/******************ABOUT US PAGE**********************/
/*****************************************************/
/*****************************************************/

*#thumbs{
 margin:auto;
 margin-bottom: 22rem;
 width: 50%;

}

.thumbnails a {
  width: 5%;
}

#manufacture{ /* i don't want to use negative values here but i can't get it to line up right without them. i'm sure theres a container in the way but i can't figure it out*/
     float: right;
     width: 15%;
     margin-top:-35rem;
     margin-right: 1em;
     margin-left:-2em;
   
   }
   #manufacture img{
  padding: 5px;
}


/*****************************************************/
/*****************************************************/
/******************ASIDE ELEMENTS*********************/
/*****************************************************/
/*****************************************************/
.aside {
     margin-left:20px;
     float: left;
     width: 15%;
}
input,
textarea{

  font-size: 1em;
  color:white;
  background-color: lightgrey;
  display:inline-block;
}


/*****************************************************/
/*****************************************************/
/*****************DRIVER'S PAGE***********************/
/*****************************************************/
/*****************************************************/
.drivers{
  margin-top: 10rem;
}

#driverspage{
 margin-top: 4px;
}
/*****************************************************/
/*****************************************************/
/*****************ABOUT PAGE STYLINGS*****************/
/*****************************************************/
/*****************************************************/


/*****************************************************/
/*****************************************************/
/***********THUMBNAILS FOR ABOUT US PAGE**************/
/*****************************************************/
/*****************************************************/
/

/*****************************************************/
/*****************************************************/
/*****************GALLERY PAGE************************/
/*****************************************************/
/*****************************************************/

#gallery{
  margin-top: 2.5%;
  margin-bottom: 2%;
  margin-right: 10px;
  margin-left:30px;
  padding-left: 30px;
  width:90%;

}

.footer{
  margin-top: 10%;
}

.footer p{
  margin-bottom: 0;
  padding-bottom:0;
}
}


/*****************************************************/
/*****************************************************/
/***********************1637PX*************************/
/*****************************************************/
/*****************************************************/
@media(min-width: 1637px){

/*****************************************************/
/*****************************************************/
/******************INDEX.HTML PAGE********************/
/*****************************************************/
/*****************************************************/
#manufacture{
  width:12%;
}
}
/*****************************************************/
/*****************************************************/
/***********************1663PX*************************/
/*****************************************************/
/*****************************************************/
@media(min-width: 1663px){
  #manufacture{
  margin-top:-31rem;
  }
/*****************************************************/
/*****************************************************/
/*******************FLOAT CLEARFIX********************/
/*****************************************************/
/*****************************************************/
.group:after {
  content: "";
  display: table;
  clear: both;
} 



